<h2>Buildings</h2>

<table class="tablesorter table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>Source Name & ID</th>  
    <% if can? :update, Building %><th>Actions</th><% end %>

  </tr>
  </thead>
  <tbody>
  <% @buildings.each do |building| %>
    <tr>
      <td><%= link_to building.id, building %></td>
      <td><%= building.type %></td>
      <td><%= building.source_name %> <%= building.source_id %></td>
      <% if can? :update, Building %><td><%= link_to 'Edit', edit_building_path(building) %> | <%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @buildings %>
