<h2>Building</h2>

<h3 class="edit-name"><%= @building.id %><% if can? :update, Building %> <%= link_to "[ edit ]", edit_building_path(@building), class: "edit-link" %><% end %></h3>

<table class="table table-striped">
  <% @building.attributes.keys.sort.each do |key| %>
    <tr>
      <th> <%= key == "_id" ? "ID" : key.humanize%></th>
      <td><%= @building[key] %></td>
    </tr>
   <% end %>
</table>
<h3>Geometry (GeoJson)</h3>
<table class="table table-striped">
  <tr>
  	<th>Type</th>
    <td><%= @building.geometry.type %></td>
  </tr>
  <tr>
  	<th>Coordinates</th>
  	<td><% @building.geometry.coordinates[0].each do |c| %><%= c %><br/><% end %></td>
  </tr>
</table>

