<h2>Option Sets</h2>

<table class="tablesorter table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Project Name</th>
    <th>OptionSet Name</th>
    <th>Workflow</th>
    <% if can? :update, OptionSet %><th>Actions</th><% end %>

  </tr>
  </thead>
  <tbody>
  <% @option_sets.each do |opt| %>
    <tr>
      <td><%= link_to opt.id, opt %></td>
      <td><%= link_to opt.project.name, opt.project %></td>
      <td><%= opt.name %></td>
      <td><% if opt.workflow %><%= link_to opt.workflow.name, opt.workflow %><% end %></td>
      <% if can? :update, OptionSet %><td><%= link_to 'Edit', edit_option_set_path(opt) %> | <%= link_to 'Destroy', opt, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @option_sets %>
