<h2>Project</h2>

<h3 class="edit-name"><%= @project.id %> <% if can? :update, Project %><%= link_to "[ edit ]", edit_project_path(@project), class: "edit-link" %><% end %></h3>

<table class="table table-striped">
	</tr>
    <tr>
  	<th>ID</th>
  	<td><%= @project.id %></td>
  </tr>
  <tr>
  	<th>Name</th>
  	<td><%= @project.name %></td>
  </tr>
    <tr>
  	<th>User</th>
  	<td><%= @project.user.email %></td>
  </tr>
  </tr>
    <tr>
  	<th>Date Created</th>
  	<td><%= @project.created_at %></td>
  </tr>
  </tr>
    <tr>
  	<th>Last Edited</th>
  	<td><%= @project.updated_at %></td>
  </tr>

  <% @project.attributes.keys.sort.each do |key| %>
    <% unless %w(_id name user_id created_at updated_at).include? key %>
	    <tr>
	      <th><%= key.humanize %></th>
	      <td><%= @project[key] %></td>
	    </tr>
	  <% end %>
  <% end %>
</table>

<div class="pad-bot-20">
  <%= link_to 'Batch Add/Update Features', batch_upload_features_project_path(@project), class: "btn btn-primary" %>
  <%= link_to 'Search Features', search_path(project_id: @project), class: "btn btn-primary" %>
</div>

<h3>Workflows (<%= @project.workflows.count %>)</h3>
<% if @project.workflows.count <= 0 %>
  <p>There are no workflows associated with this project.</p>
<% else %>
  <table class="tablesorter table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Date Created</th>
      <th>Last Edited</th>  
      <% if can? :update, Workflow %><th>Actions</th><% end %>

    </tr>
    </thead>
    <tbody>
    <% @project.workflows.each do |workflow| %>
      <tr>
        <td><%= link_to workflow.id, workflow %></td>
        <td><%= workflow.name %></td>
        <td><%= workflow.created_at.strftime('%_m/%-d/%Y') %></td>
        <td><%= workflow.updated_at.strftime('%_m/%-d/%Y') %></td>
        <% if can? :update, Workflow %><td><%= link_to 'Edit', edit_workflow_path(workflow) %> | <%= link_to 'Destroy', workflow, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<div class="pad-bot-20">
  <%= link_to 'New Workflow', new_workflow_path(project_id: @project), class: "btn btn-primary" %>
</div>

<h3>Scenarios (<%= @project.scenarios.count %>)</h3>
<% if @project.scenarios.count <= 0 %>
  <p>There are no scenarios associated with this project.</p>
<% else %>
   <table class="tablesorter table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Date Created</th>
      <th>Last Edited</th>  
      <% if can? :update, Scenario %><th>Actions</th><% end %>

    </tr>
    </thead>
    <tbody>
    <% @project.scenarios.each do |scenario| %>
      <tr>
        <td><%= link_to scenario.id, scenario %></td>
        <td><%= scenario.name %></td>
        <td><%= scenario.created_at.strftime('%_m/%-d/%Y') %></td>
        <td><%= scenario.updated_at.strftime('%_m/%-d/%Y') %></td>
        <% if can? :update, Scenario %><td><%= link_to 'Edit', edit_scenario_path(scenario) %> | <%= link_to 'Destroy', scenario, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<div class="pad-bot-20">
  <%= link_to 'New Scenario', new_scenario_path(project_id: @project), class: "btn btn-primary" %>
</div>

<h3>Features (<%= @project.features.count %>) </h3>
<div class="pad-bot-20">
    <%= link_to 'New Feature', new_feature_path(project_id: @project), class: "btn btn-primary" %>
</div>
<% if @project.features.count <= 0 %>
  <p>There are no features associated with this project.</p>
<% else %>
  <table class="tablesorter table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Source Name & ID</th>  
      <% if can? :update, Feature %><th>Actions</th><% end %>
    </tr>
    </thead>
    <tbody>
    <% @project.features.each do |feature| %>
      <tr>
        <td><%= link_to feature.id, feature %></td>
        <td><%= feature.type %></td>
        <td><%= feature.source_name %> <%= feature.source_id %></td>
        <% if can? :update, Feature %><td><%= link_to 'Edit', edit_feature_path(feature) %> | <%= link_to 'Destroy', feature, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<h3>Datapoints (<%= @project.datapoints.count %>)</h3>
<% if @project.datapoints.count <= 0 %>
  <p>There are no datapoints associated with this project.</p>
<% else %>
  <table class="tablesorter table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Feature</th>
      <th>Workflow</th>  
      <th>Status</th>  
      <% if can? :update, Datapoint %><th>Actions</th><% end %>
    </tr>
    </thead>
    <tbody>
    <% @project.datapoints.each do |datapoint| %>
      <tr>
        <td><%= link_to datapoint.id, datapoint %></td>
        <td><%= link_to datapoint.feature.id, datapoint.feature if datapoint.feature %></td>
        <td><%= link_to datapoint.workflow.id, datapoint.workflow if datapoint.workflow %></td>
        <td><%= datapoint.status %></td>
        <% if can? :update, Datapoint %><td><%= link_to 'Edit', edit_datapoint_path(datapoint) %> | <%= link_to 'Destroy', datapoint, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

