<h2>District System</h2>

<h3 class="edit-name"><%= @district_system.id %> <% if can? :update, DistrictSystem %><%= link_to "[ edit ]", edit_district_system_path(@district_system), class: "edit-link" %><% end %></h3>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <td><%= @district_system.id.to_s %></td>
  </tr>
  <tr>
    <th>Project ID</th>
    <td><%= link_to @district_system.project_id, @district_system.project %></td>
  </tr>
  <% @district_system.attributes.keys.sort.each do |key| %>
    <% unless key == '_id' || key == 'project_id' %>
      <tr>
        <th> <%= key.gsub('_', ' ').titleize.gsub('Id', 'ID') %></th>
        <td><%= @district_system[key] %></td>
      </tr>
    <% end %>
   <% end %>
</table>
<h3>Geometry (GeoJson)</h3>
<!--<table class="table table-striped">
  <tr>
  	<th>Type</th>
    <td><%#= @district_system.geometry.type %></td>
  </tr>
  <tr>
  	<th>Coordinates</th>
  	<td><#% @district_system.geometry.coordinates[0].each do |c| %><%#= c %><br/><#% end %></td>
  </tr>
</table>-->
<script type="text/javascript">

  // get JSON
  $.getJSON('<%= get_route() %>.json',  function( geojsonFeature ) {

    var lat, lng, coords;

    // nesting depends on what we're plotting
    coords = geojsonFeature["geometry"]["coordinates"];

    if (coords[0].constructor === Array) {
      if (coords[0][0].constructor === Array) {
        if (coords[0][0][0].constructor === Array) {
          lng = coords[0][0][0][0];
          lat = coords[0][0][0][1];
        }
        else {
        // deepest is 3 levels
        lng = coords[0][0][0];
        lat = coords[0][0][1];
        }
      }
      else {
        lng = coords[0][0];
        lat = coords[0][1];
      }
    }
    else {
      lng = coords[0];
      lat = coords[1];
    }

    var map = L.map('map').setView([lat, lng], 18);

    L.tileLayer('https://api.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia2ZsZW1pbiIsImEiOiJjaWs1dHk4am8wMDh4cGlrc2RyN3dwN2dqIn0.KHvb3s8m6wNksZ2UbYOb_Q', {
    attribution: "&copy; <a href='https://www.mapbox.com/map-feedback/'>Mapbox</a> &copy; <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>",
    maxZoom: 22
    }).addTo(map);

    L.geoJson(geojsonFeature).addTo(map);

  });

</script>


