<h2>Datapoints for Workflow <%= link_to @workflow.id, @workflow %></h2>

<table class="tablesorter table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Building</th>
    <th>Workflow</th>  
    <% if can? :update, Datapoint %><th>Actions</th><% end %>

  </tr>
  </thead>
  <tbody>
  <% @datapoints.each do |datapoint| %>
    <tr>
      <td><%= link_to datapoint.id, datapoint %></td>
      <td><%= link_to datapoint.building.id, datapoint.building %></td>
      <td></td>
      <% if can? :update, Datapoint %><td><%= link_to 'Edit', edit_datapoint_path(datapoint) %> | <%= link_to 'Destroy', datapoint, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
    </tr>
  <% end %>
  </tbody>
</table>
