<h2>Workflow</h2>

<h3 class="edit-name"><%= @workflow.id %> <% if can? :update, Workflow %><%= link_to "[ edit ]", edit_workflow_path(@workflow), class: "edit-link" %><% end %></h3>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <td><%= @workflow.id.to_s %></td>
  </tr>
  <tr>
    <th>Project</th>
    <td><%= link_to @workflow.project.display_name, @workflow.project %></td>
  </tr>
  <% @workflow.attributes.keys.sort.each do |key| %>
    <% unless key == '_id' || key == 'project_id' %>
      <tr>
      	<% if key == 'workflow_file' %>
      		<th>Related Zip File</th>
      		<td> <%= link_to @workflow.workflow_file.file_name, download_zipfile_workflow_path(@workflow) %><br/></td>
  	    <% else %>
  	      <th> <%= key.humanize%></th>
        	<td><%= @workflow[key] %></td>
        <% end %>
      </tr>
    <% end %>
   <% end %>
</table>


<h3>Datapoints</h3>

<div class="pad-top-20">
  <%= link_to 'Create Datapoints for All Buildings', create_datapoints_workflow_path(id: @workflow), class: "btn btn-primary" %> <%= link_to 'Delete Datapoints for this workflow', delete_datapoints_workflow_path(id: @workflow), class: "btn btn-primary" %> 
</div>

<p class="pad-top-20 workflow-text">There are <%= @datapoints.count %> datapoints created for this workflow.</p>