<h2>Datapoint</h2>

<h3 class="edit-name"><%= @datapoint.id %> <% if can? :update, Datapoint %><%= link_to "[ edit ]", edit_datapoint_path(@datapoint), class: "edit-link" %><% end %></h3>

<table class="table table-striped">
  <tr>
  	<th>Datapoint ID</th>
  	<td><%= @datapoint.id %></td>
  <tr>
  	<th>Building</th>
  	<td><%= link_to @datapoint.building.id, @datapoint.building %></td>
  </tr>
  <tr>
  	<th>Workflow</th>
  	<td><% if @datapoint.workflow %><%= link_to @datapoint.workflow.id, @datapoint.workflow %><% end %></td>
  </tr> 
  <% @datapoint.attributes.keys.sort.each do |key| %>
    <% unless %w(_id workflow_id building_id).include? key %>
	    <tr>
        <% if key == 'datapoint_files' %>
          <th>Related Files</th>
          <td>
            <% @datapoint.datapoint_files.each do |df| %>
              <%= link_to df.file_name, download_file_datapoint_path(file_id: df) %><br/>
            <% end %>
          </td>
        <% else %>
	        <th><%= key.humanize %></th>
	        <td><%= @datapoint[key] %></td>
        <% end %>
	    </tr>
	  <% end %>
  <% end %>
</table>

