<h2>Browse</h2>

<p class="pad-top-30"> Browse features</p>

<%= link_to 'Buildings', buildings_path, class: "btn btn-primary" %>
<%= link_to 'Taxlots', taxlots_path, class: "btn btn-primary" %>
<%= link_to 'Regions', regions_path, class: "btn btn-primary" %>
<%= link_to 'District System', district_systems_path, class: "btn btn-primary" %>

<p class="pad-top-30">Browse Workflows and Datapoints</p>
<%= link_to 'Workflows', workflows_path, class: "btn btn-primary" %>
<%= link_to 'Datapoints', datapoints_path, class: "btn btn-primary" %>

<p class="pad-top-30">Search</p>
<%= link_to 'Search Features', search_path, class: "btn btn-primary" %>