<h2>Search Options</h2>

<%= bootstrap_form_tag url: '/search', layout: :horizontal, control_col: 'col-sm-4' do |f| %>
	<h3>Proximity Search</h3>
  <p>Find all items near a building.</p>
  <fieldset>
  	<%= f.text_field :bldg_id, value: @bldg_id, label: 'Building ID' %>
  </fieldset>
  <fieldset>
  	<%= f.text_field :distance, value: @distance, append: 'm', label: 'Max Distance' %>
  </fieldset>
  <fieldset>
    <%= f.select :prox_types, options_for_select(@possible_types, @prox_types), { label: 'Item type to return' }, { multiple: true, size: 5 } %>
  </fieldset>
  <%= f.form_group do %>
  	<%= f.primary 'Proximity Search' %>
  <% end %>

	<h3>Region Search</h3>
  <p>Find all items within a specified region.</p>
  <fieldset>
  	<%= f.select :region_id, options_for_select(@regions, @region_id), label: 'Region ID' %>
  </fieldset>
  <fieldset>
    <%= f.select :region_types, options_for_select(@possible_types, @region_types), { label: 'Item type to return' }, { multiple: true, size: 5 } %>
  </fieldset>
  <%= f.form_group do %>
  	<%= f.primary 'Region Search' %>
  <% end %>
<% end %>

<% unless @is_get %>
	<h2 class="pad-top-30"><%= @search_type.capitalize %> Search Results (<%= @total_count %>)</h2>

	<% if @results.count < 1 %>
		<p>There are no results for this <%= @search_type %> search.</p>
	<% else %>
		<table class="tablesorter table table-striped">
		  <thead>
		  <tr>
		    <th>ID</th>
		    <th>Type</th>
		  </tr>
		  </thead>
		  <tbody>
		  <% @results.each do |object| %>
		    <tr>
		      <td><% if object.building_id %><%= link_to object.building_id, object.building %><% elsif object.taxlot_id %><%= link_to object.taxlot_id, object.taxlot %><% elsif object.region_id %><%= link_to object.region_id, object.region %><% elsif object.district_system_id %><%= link_to object.district_system_id, object.district_system %><% end %></td>
		      <td><% if object.building %><%= object.building.type %><% elsif object.taxlot %><%= object.taxlot.type %><% elsif object.region %><%= object.region.type %><% elsif object.district_system %><%= object.district_system.type %><% end %></td>

		    </tr>
		  <% end %>
		  </tbody>
		</table>
		<%= paginate @results %>
  <% end %>
<% end %>
