<h2>Region</h2>

<h3 class="edit-name"><%= @region.id %> <% if can? :update, Region %><%= link_to "[ edit ]", edit_region_path(@region), class: "edit-link" %><% end %></h3>

<table class="table table-striped">
  <% @region.attributes.keys.sort.each do |key| %>
    <tr>
      <th> <%= key == "_id" ? "ID" : key.humanize%></th>
      <td><%= @region[key] %></td>
    </tr>
   <% end %>
</table>
<h3>Geometry (GeoJson)</h3>
<table class="table table-striped">
  <tr>
  	<th>Type</th>
    <td><%= @region.geometry.type %></td>
  </tr>
  <tr>
  	<th>Coordinates</th>
  	<td><% @region.geometry.coordinates[0].each do |c| %><%= c %><br/><% end %></td>
  </tr>
</table>

