<h2>Scenarios</h2>

<table class="tablesorter table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Project Name</th>
    <th>Scenario Name</th>
    <% if can? :update, Scenario %><th>Actions</th><% end %>

  </tr>
  </thead>
  <tbody>
  <% @scenarios.each do |scenario| %>
    <tr>
      <td><%= link_to scenario.id, scenario %></td>
      <td><%= link_to scenario.project.name, scenario.project if scenario.project %></td>
      <td><%= scenario.name %></td>
      <% if can? :update, Scenario %><td><%= link_to 'Edit', edit_scenario_path(scenario) %> | <%= link_to 'Destroy', scenario, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%#= paginate @scenarios %>