<h2>Feature</h2>

<h3 class="edit-name"><%= @feature.id %><% if can? :update, Feature %> <%= link_to "[ edit ]", edit_feature_path(@feature), class: "edit-link" %><% end %></h3>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <td><%= @feature.id.to_s %></td>
  </tr>
  <tr>
    <th>Project ID</th>
    <td><%= link_to @feature.project_id, @feature.project %></td>
  </tr>
  <tr>
  	<th>Type</th>
  	<td><%= @feature.type %></td>
  </tr>
  <% @feature.attributes.keys.sort.each do |key| %>
    <% unless key == 'project_id' || key == '_id'  || key == 'type' %>
      <tr>
        <th> <%= key.gsub('_', ' ').titleize.gsub('Id', 'ID') %></th>
        <td><%= @feature[key] %></td>
      </tr>
    <% end %>
   <% end %>
</table>
<h3>Geometry (GeoJson)</h3>

<div id="map-container">
  <div id="map"></div>
</div>

<!--temporary: to inspect the geoJSON if needed -->
<table class="table table-striped">
  <tr>
    <th>Type</th>
    <td><%= @feature.geometry.type %></td>
  </tr>
  <tr>
    <th>Coordinates</th>
    <td><% @feature.geometry.coordinates[0].each do |c| %><%= c %><br/><% end %></td>
  </tr>
    <tr>
    <th>Centroid</th>
    <td><%= @feature.geometry.centroid %></td>
  </tr>
</table>

<% if ['Building', 'District System'].include? @feature.type %>
	<h3>Datapoints</h3>
	<% if @feature.datapoints.count == 0 %>
	  <p> There are no datapoints for this feature.</p>
	<% else %>
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>ID</th>
	        <th>Workflow</th>
	        <th>Status</th>  
	        <% if can? :update, Datapoint %><th>Actions</th><% end %>
	      </tr>
	    </thead>
	    <tbody>
	      <% @feature.datapoints.each do |datapoint| %>
	        <tr>
	          <td><%= link_to datapoint.id, datapoint %></td>
	          <td><%= link_to datapoint.workflow.name, datapoint.workflow if datapoint.workflow %></td>
	          <td><%= datapoint.status %></td>
	          <% if can? :update, Datapoint %><td><%= link_to 'Edit', edit_datapoint_path(datapoint) %> | <%= link_to 'Destroy', datapoint, method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	<% end %>
	<%= link_to 'Add a Datapoint', new_datapoint_path(feature: @feature), class: "btn btn-primary" %>  
<% end %>

<script type="text/javascript">

  // get JSON
  $.getJSON('<%= get_route() %>.json',  function( geojsonFeature ) {

    var lat, lng, coords;

    // nesting depends on what we're plotting
    coords = geojsonFeature["geometry"]["coordinates"];
    if (geojsonFeature["geometry"]["type"] == "Polygon") {
      // polygon (3rd level)
      lng = coords[0][0][0];
      lat = coords[0][0][1];
    }  
    else {
      //assume multipolygon (4th level)
      lng = coords[0][0][0][0];
      lat = coords[0][0][0][1];
    }

    var map = L.map('map').setView([lat, lng], 18);

    L.tileLayer('https://api.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia2ZsZW1pbiIsImEiOiJjaWs1dHk4am8wMDh4cGlrc2RyN3dwN2dqIn0.KHvb3s8m6wNksZ2UbYOb_Q', {
    attribution: "&copy; <a href='https://www.mapbox.com/map-feedback/'>Mapbox</a> &copy; <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>",
    maxZoom: 22
    }).addTo(map);

    L.geoJson(geojsonFeature).addTo(map);

  });

</script>
